<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>我的旅行日記</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			<!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<nav>
				<ul>
					<li><a href="#footer" class="icon solid fa-info-circle">upload</a></li>
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">
			<% for ( var i = 0 ; i < data.length ; i++){ %>
				<article class="thumb">
					<a href='uploads/<%= data[i].path %>' class="image"><img src='	uploads/<%= data[i].path %> ' alt="" /></a>
					<h2><%= data[i].title  %></h2>
					<p><%= data[i].comment  %></p>
				</article>
					<% } %>
		</div>

	<!-- Footer -->
<footer id="footer" class="panel">
	<div>
		<section>
			<h2>Upload image</h2>
			<form id="form1" method="post" action="add/post" enctype="multipart/form-data">
				<div class="fields">
					<div class="field half">
						<input type="text" name="title" id="title" placeholder="title" />
					<br>
					<input type="text" name="cm" id="cm" placeholder="cm" />
					</div>

					<div class="field half">
						<input type="file" id="progressbarTWInput" name="progressbarTWInput" accept="image/gif, image/jpeg, image/png"/ >
			 	   <img id="preview_progressbarTW_img" src="#" width="500" height="300"/>
					</div>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send" class="primary" /></li>
					<li><input type="reset" value="Reset" /></li>
				</ul>
			</form>
		</section>
	</div>
</footer>

</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/upload.js"></script>

	</body>
</html>
